body{
     font-family: sans-serif;
     background-color: whitesmoke;
}
#titulo_principal{
    color: grey;    
}

#parrafo1{
     width: 580px;
}

#foto1{
     
      width: 480px;
     background-color: powderblue;
}

#titulo2{
     color: gray;
}

#titulo3{
     color: gray;
}

h2{
     color: silver;
}

table, th, td{
     width: 30%;
     border: 1px solid black;
     border-collapse: collapse;
     padding: 2%;
     text-align: center;
}

#footer{
     color: gray;
}
